.body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body,
html {
    height: 100%;
}

.custombg {
    background-image: url("./calculator1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.displayContainer {
    /* border: 1px dotted #000; */
    margin-top: 50%; 
    margin-left: 50%; 
    transform: translate(-50%, -50%);
    position: fixed
}

.centerPseudo {
    display: inline-block;
    text-align: center;
}
.centerPseudo::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0px;
}